<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright 2009 Andrew Shu
 *
 * This file is part of "reddit is fun".
 *
 * "reddit is fun" is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * "reddit is fun" is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with "reddit is fun".  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.andrewshu.android.reddit"
      android:versionCode="24"
      android:versionName="0.7.10">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".RedditIsFun"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	    <activity android:name=".RedditCommentsListActivity"></activity>
	    <activity android:name=".PickSubredditActivity"></activity>
	    <activity android:name=".SubmitLinkActivity">
	        <intent-filter>
            	<action android:name="android.intent.action.SEND" />
            	<category android:name="android.intent.category.DEFAULT" />
            	<data android:mimeType="text/plain" />
           	</intent-filter>
	    </activity>
	    <activity android:name=".InboxActivity"></activity>
	    <activity android:name=".RedditPreferencesPage"></activity>
	    <service android:name=".EnvelopeService" android:label="@string/pref_mail_notification_service"></service>
	</application>
    <uses-sdk android:minSdkVersion="3" />
</manifest> 
